@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-color:#ffd599;
  background-image:
  radial-gradient(at 43% 98%, hsla(73,66%,79%,1) 0px, transparent 50%),
  radial-gradient(at 30% 71%, hsla(179,74%,77%,1) 0px, transparent 50%),
  radial-gradient(at 83% 66%, hsla(54,96%,69%,1) 0px, transparent 50%),
  radial-gradient(at 19% 47%, hsla(340,90%,73%,1) 0px, transparent 50%),
  radial-gradient(at 36% 15%, hsla(303,95%,78%,1) 0px, transparent 50%),
  radial-gradient(at 56% 90%, hsla(169,89%,75%,1) 0px, transparent 50%),
  radial-gradient(at 86% 41%, hsla(296,78%,71%,1) 0px, transparent 50%);}

/* https://css-pattern.com/ */
.pattern-bg {
  --s: 82px; /* control the size */
  --c1: #b2b2b2;
  --c2: #ffffff;
  --c3: #d9d9d9;
  
  --_g: var(--c3) 0 120deg,#0000 0;
  background:
    conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
    conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
    conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#0000 0),
    conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
    linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                          var(--c1) 0 calc(500%/6),var(--c2) 0);
  background-size: calc(1.732*var(--s)) var(--s);
}

